services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sod_api
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      OLLAMA_HOST: http://ollama:11434
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:latest
    container_name: sod_ollama
    restart: unless-stopped
    volumes:
      - ollama_models:/root/.ollama
    ports:
      - "11434:11434"

volumes:
  ollama_models:
